
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <a routerLink="inicio">Inicio</a>
      <a routerLink="/lista-prestamos">Prestamos</a>
      <a href="../Cronograma pagos/cronograma-pago.html">Pagos</a>
      <button routerLink="/login" class="logout-btn">Cerrar Sesión</button>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <div class="header">Bienvenido</div>
      <!-- Resumen -->
      <div class="summary">
        <div class="summary-box">
            <p>Saldo Prestado</p>
            <h3 id="saldoPrestado">0</h3>
            <p class="positive" id="porcentajeSaldo">0%</p>
        </div>
        <div class="summary-box">
            <p>Prestamos Completados</p>
            <h3 id="prestamosCompletados">0</h3>
            <p class="negative" id="porcentajeCompletados">0%</p>
        </div>
        <div class="summary-box">
            <p>Préstamo Total</p>
            <h3 id="prestamoTotal">0</h3>
        </div>
    </div>
    

      <div class="header">Prestamos recientes</div>

      <!-- Tabla de préstamos -->
      <div class="table-container">
        <a routerLink="/nueva-solicitud">
          <button>Nuevo Prestamos</button>
        </a>
      </div>
    </div>
  </div>