<div class="container">
  <!-- Sidebar -->
  <div class="sidebar">
    <a routerLink="/inicio">Inicio</a>
    <a routerLink="/lista-prestamos">Prestamos</a>
    <a  >Pagos</a>
    <a routerLink="/login" routerLinkActive="router-link-active"  class="logout-btn">Cerrar Sesión</a>
  </div>

  <div class="formulario">
    <div class="container-form">
      <h3>Solicitar un préstamo</h3>
      
      <!-- Radios para seleccionar tipo de persona -->
      <div class="radio-container">
        <input type="radio" id="persona-natural" name="tipoPersona" value="natural" [(ngModel)]="selectedForm" (change)="changeForm()" checked>
        <label for="persona-natural">Persona natural</label>
        
        <input type="radio" id="persona-juridica" name="tipoPersona" value="juridica" [(ngModel)]="selectedForm" (change)="changeForm()">
        <label for="persona-juridica">Persona jurídica</label>
        
        <input type="radio" id="emprendedor" name="tipoPersona" value="emprendedor" [(ngModel)]="selectedForm" (change)="changeForm()">
        <label for="emprendedor">Emprendedor</label>
      </div>
      
      <!-- Formulario para Persona Natural -->
      <div *ngIf="selectedForm === 'natural'" id="form-persona-natural" class="form-container">
        <h3>Datos Persona Natural</h3>
        <!-- Campos específicos para Persona Natural -->
        
        <div class="input-container">
            <label for="monto">Monto del préstamo</label>
            <input #monto
                type="number"
                id="monto"
                placeholder="S/"
                min="0"
                required
            />
        </div>
        
        <div class="input-container">
            <label for="fechaIngreso">Fecha de ingreso del préstamo</label>
            <input #fecha type="date" id="fechaIngreso" required onchange="actualizarFechasPago()"/>
        </div>
        
        <div class="input-container">
            <label for="cuotas">Cuotas del préstamo</label>
            <select id="cuotas" name="cuotas-natural" [(ngModel)]="cuotas" required (change)="actualizarFechasPagoPersonaNatural()">
                <option value="" disabled selected>Selecciona el número de cuotas</option>
                <option value="1">1 cuota</option>
                <option value="6">6 cuotas</option>
            </select>
        </div>
        
        <div class="input-container">
          <label>Fechas de pago de las cuotas</label>
          <div id="fechasPago" class="fechas-pago">
              <!-- Las fechas de pago se agregarán aquí -->
              <div *ngFor="let pago of fechasPago">
                  <p>Cuota: {{pago.fecha}} - Monto: S/ {{pago.cuota}}</p>
              </div>
          </div>
        </div>             
            
            <div class="input-container">
                <label for="dni">Número de documento (DNI)</label>
                <input #dni
                type="text"
                id="dni"
                placeholder="Ej.12345678"
                minlength="8"
                maxlength="8"
                pattern="\d{8}"
                inputmode="numeric"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                required
                />
            </div>
            <button class="button" (click)="onSearch()">Buscar</button>
            <div class="input-container">
                <label for="nombre">Nombres y apellidos</label>
                <input #nombre
                type="text"
                id="nombre"
                placeholder="Ingresa tus nombres y apellidos"
                pattern="[a-zA-ZÀ-ÿ\s]+"
                oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')"
                required
                />
            </div>
        
            <div class="input-container">
                <label for="correo">Correo electrónico</label>
                <input #correo
                type="email"
                id="correo"
                placeholder="Ejemplo@gmail.com"
                required
                />
            </div>
        
            <div class="input-container">
                <label for="celular">Número de celular</label>
                <input #numero type="tel" id="celular" placeholder="Ej.123456789" minlength="9" maxlength="9" pattern="9[0-9]{8}" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required/>
            </div>
            <div>
                <button class="button" (click)="onSubmit()">Solicitar Préstamo</button>
            </div>
      </div>

      <!-- Formulario para Persona Jurídica -->
      <div *ngIf="selectedForm === 'juridica'" id="form-persona-juridica" class="form-container">
        <h3>Datos Persona Jurídica</h3>
        <!-- Campos específicos para Persona Jurídica -->
        <form id="loan-form">
            <!-- Monto del préstamo -->
            <div class="input-container">
                <label for="monto-juridica">Monto del préstamo</label>
                <input #monto
                    type="number"
                    id="monto-juridica"
                    placeholder="S/"
                    min="0"
                    required
                />
            </div>
            
            <!-- Fecha de ingreso del préstamo -->
            <div class="input-container">
                <label for="fechaIngreso-juridica">Fecha de ingreso del préstamo</label>
                <input #fecha type="date" id="fechaIngreso-juridica" required onchange="actualizarFechasPago()"/>
            </div>
            
            <!-- Cuotas del préstamo -->
            <div class="input-container">
                <label for="cuotas-juridica">Cuotas del préstamo</label>
                <select id="cuotas-juridica" name="cuotas-juridica" [(ngModel)]="cuotasjuridica" required (change)="actualizarFechasPagoPersonaNatural()">
                    <option value="" disabled selected>Selecciona el número de cuotas</option>
                    <option value="1">1 cuota</option>
                    <option value="6">6 cuotas</option>
                </select>
            </div>
            
            <div class="input-container">
              <label>Fechas de pago de las cuotas</label>
              <div id="fechasPago" class="fechas-pago">
                  <!-- Las fechas de pago se agregarán aquí -->
                  <div *ngFor="let pago of fechasPago">
                      <p>Cuota: {{pago.fecha}} - Monto: S/ {{pago.cuota}}</p>
                  </div>
              </div>
            </div>     
            
            <!-- Razón Social -->
            <div class="form-group">
                <label for="razon-social">Razón Social:</label>
                <input #razonSocial
                type="text"
                id="razon-social"
                placeholder="Ingresa la razon sociall"
                pattern="[a-zA-ZÀ-ÿ\s]+"
                oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')"
                required
                />
            </div>
            
            <!-- RUC -->
            <div class="form-group">
                <label for="RUC">RUC</label>
                <input #ruc type="tel" id="Ruc" placeholder="Ej.12345678901" minlength="11" maxlength="11" pattern="9[0-9]{8}" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required/>
                <button class="button" (click)="onSearch()">Buscar</button>
              </div>
            
            <!-- Representante Legal -->
            <div class="form-group">
                <label for="Representante">Representante legal</label>
                <input
                type="text"
                id="Representante"
                placeholder="Ingresa el representante legal"
                pattern="[a-zA-ZÀ-ÿ\s]+"
                oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')"
                required
                />
            </div>
            
            <!-- Dirección -->
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                <input #direccion
                type="text"
                id="direccion"
                placeholder="Ingresa direccion"
                pattern="[a-zA-ZÀ-ÿ\s]+"
                oninput="this.value = this.value.replace(/[^a-zA-ZÀ-ÿ\s]/g, '')"
                required
                />                                </div>
            
            <!-- Teléfono -->
            <div class="form-group">
                <label for="celular">Número de celular</label>
                <input type="tel" id="celular" placeholder="Ej.123456789" minlength="9" maxlength="9" pattern="9[0-9]{8}" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required/>
            </div>
            
            <!-- Correo Electrónico -->
            <div class="form-group">
                <label for="correo">Correo electrónico</label>
                <input
                type="email"
                id="correo"
                placeholder="Ejemplo@gmail.com"
                required
                />
            </div>
        </form>
    
        <div>
            <button class="button" (click)="onSubmit()">Solicitar Préstamo</button>
        </div>
      </div>

      <!-- Formulario para Emprendedor -->
      <div *ngIf="selectedForm === 'emprendedor'" id="form-emprendedor" class="form-container">
        <h3>Datos Emprendedor</h3>
        <!-- Campos específicos para Emprendedor -->
         <!-- Monto del préstamo -->
         <div class="input-container">
            <label for="monto-juridica">Monto del préstamo</label>
            <input #monto
                type="number"
                id="monto-juridica"
                placeholder="S/"
                min="0"
                required
            />
        </div>
        
        <!-- Fecha de ingreso del préstamo -->
        <div class="input-container">
            <label for="fechaIngreso-emprendedor">Fecha de ingreso del préstamo</label>
            <input #fecha type="date" id="fechaIngreso-emprendedor" required onchange="actualizarFechasPago()"/>
        </div>
        
        <!-- Cuotas del préstamo -->
        <div class="input-container">
            <label for="cuotas-emprendedor">Cuotas del préstamo</label>
            <select id="cuotas-emprendedor" name="cuotas-emprendedor" [(ngModel)]="cuotasemprendedor" required (change)="actualizarFechasPagoPersonaNatural()">
                <option value="" disabled selected>Selecciona el número de cuotas</option>
                <option value="1">1 cuota</option>
                <option value="6">6 cuotas</option>
            </select>
        </div>
        
        <div class="input-container">
          <label>Fechas de pago de las cuotas</label>
          <div id="fechasPago" class="fechas-pago">
              <!-- Las fechas de pago se agregarán aquí -->
              <div *ngFor="let pago of fechasPago">
                  <p>Cuota: {{pago.fecha}} - Monto: S/ {{pago.cuota}}</p>
              </div>
          </div>
        </div>       


        <label for="nombre-emprendedor">Nombre del emprendedor:</label>
        <input #nombreEmprendedor type="text" id="nombre-emprendedor" class="form-input" placeholder="Ingrese su nombre">

        <label for="proyecto">Nombre del proyecto:</label>
        <input #proyecto type="text" id="proyecto" class="form-input" placeholder="Nombre de su proyecto">

        <div class="input-container">
            <label for="correo">Correo electrónico</label>
            <input
            type="email"
            id="correo"
            placeholder="Ejemplo@gmail.com"
            required
            />
        </div>
    
        <div class="input-container">
            <label for="celular">Número de celular</label>
            <input type="tel" id="celular" placeholder="Ej.123456789" minlength="9" maxlength="9" pattern="9[0-9]{8}" inputmode="numeric" oninput="this.value = this.value.replace(/[^0-9]/g, '')" required/>
        </div>
        <div>
            <button class="button" (click)="onSubmit()">Solicitar Préstamo</button>
        </div>
      </div>
    </div>
  </div>
</div>
