
  <div class="container">
    <!-- Sidebar -->
        <div class="sidebar">
          <a routerLink="/inicio">Inicio</a>
          <a routerLink="/lista-prestamos">Prestamos</a>
          <a >Pagos</a>
          <button routerLink="/login" class="logout-btn">Cerrar Sesión</button>
        </div>

        <!-- Buscador de clientes -->
        <div class="main-content">
          <div class="search-bar">
            <i class="fas fa-search search-icon"></i>
            <input id="searchInput" class="search-input" placeholder="Buscar Cliente" type="text" [(ngModel)]="searchQuery" (input)="searchClient()"/>
          </div>

        <!-- Lista de prestamos -->
          <h3 class="section-title">Lista de Prestamos</h3>
          <div *ngFor="let prestamo of filteredPrestamos">
            <div>
              <h4 class="client-name">{{ prestamo.clientType === 'Natural' ? prestamo.dniRuc : prestamo.ruc }}</h4>
              <div class="loan-info">
                <p class="loan-date">Fecha de Ingreso: {{ formatFecha(prestamo.loanDate) }}</p>
                <p class="loan-amount">Préstamo: S/ {{ prestamo.monto}}</p>
                <p class="loan-term">N° de Cuotas: {{ prestamo.cuotas }} cuotas</p>
                <p class="payment-status">Estado de Pago: <span class="status-positive">Activo</span></p>
              </div>
            </div>
          </div>
          

        </div>
    </div>
